/********************************************
 * Add your classes to this file to
 * style anything on your material pages
 ********************************************/

/**************************
 * Variables
 **************************/

/*:root {*/
/* overwrite vars */
/*}*/

/**************************
 * Layout
 **************************/

/*.material-content {*/
/* Rules for the content container */
/*}*/

/**************************
 * Material List and Paginate
 **************************/

/*--- Category Material List ---*/
.categoryMaterialList section {
    margin-top: var(--layout-gap-l);
}

/*--- Material List ---*/
.materialList {
    display: grid;
    justify-content: space-between;
    gap: var(--layout-gap);
    grid-template-columns: 1fr 1fr;
}

/**************************
 * Adaptation
 **************************/

@media (max-width: 900px) {
    .materialList {
        grid-template-columns: 1fr;
    }
}
